apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: compredict-task
  name: db-volume
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: fast
  resources:
    requests:
      storage: 2Gi