apiVersion: batch/v1
kind: Job 
metadata:
  name: django-migration
  namespace: compredict-task
  labels:
    app: django-migration-job 

spec:

  template:
    spec:
      containers:
      - image: firasimages/django:1.0.0
        name: django-app
        command: ["python", "manage.py", "migrate"]
        ports:
          - name: gunicorn-port
            containerPort: 8000
        envFrom:
          - configMapRef:
              name: db-envars
          - secretRef:
              name: db-secret 
        env:
          - name: DJANGO_DEBUG
            value: "True"
          - name: DJANGO_ALLOWED_HOSTS
            value: "*"
          - name: DATABASE_ENGINE
            value: postgresql_psycopg2
          - name: POSTGRES_HOST
            value: postgres-service
      restartPolicy: Never  
  backoffLimit: 5




















